$font-face: sans-serif;

$color-gray: grey;
$color-yellow: #FFB400;
$color-bluegray: #F0F0F6;

body {
    font-family: $font-face;
    background-color: $color-bluegray;
    margin: 0px;
}

#intro {
    display: flex;
    flex-flow: row wrap;
    background-color: white;

    h1 {
        font-size: 48px;

        span {
            color: $color-yellow;
        }
    }
}

#intro-text {
    max-width: 30em;
    margin: auto;
}

#intro-description {
    max-width: 424px;
    margin: auto 0px;
}

#my-image-big {
    width: 325px;
    margin: auto;
}

.button {
    padding: 16px 32px;
    background-color: $color-yellow;
    display: inline;
    font-size: 16px;
    border-radius: 5px;

    * {
        vertical-align: middle;
    }
}

#hire-me-button {
    margin: 28px auto;
    float: left;
}

.small-icon {
    margin: 2px;
    width: 1em;
}

.section {

    padding: 50px 20px;
    text-align: center;

    h2 {
        font-size: 32px;
    }

    .section-header {

        * {
            vertical-align: middle;
        }
    }

    .section-content {
        margin: 25px auto;
        float: left;
    }
}

.section-description {
    color: $color-gray;
    line-height: 1.5em;
    max-width: 438px;
    margin: 25px auto;
}

#services-cards {
    display: flex;
    flex-direction: row wrap;
}

.card {
    background-color: white;
    vertical-align: middle;
    width: 310px;
    height: 225px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .card-content {
        margin: 42px auto;

        .card-image {
            width: 68px;
        }

        .card-title {
            font-size: 18px;
            margin: 15px 0px;
            font-weight: 500;
        }

        .card-description {
            font-size: 15px;
            color: $color-gray;
            margin: 0px;
            line-height: 24px;
            max-width: 260px;
            margin: 15px 0px;
        }

        a {
            color: $color-yellow;
            text-decoration: none;
        }
    }
}